@charset "utf-8";
/* CSS Document */

/*css of blog and blog detail page*/
.blog-details-wrap{ width:100%; float:left; margin:50px 0 0 0;}
.blog-wrap{ margin:50px 0 0 0; width:100%; float:left;}

.bdetail-top { padding-top:5px;}
.bdetail-top .img-thumbnail { padding:10px; }
.blog-text p { padding-top:20px; line-height:23px; text-align:justify;}
.blue-section { background:#f2fbff; border:1px solid #e1f3ff; padding:30px; margin-top:30px;}
.blog-c-text { font-size:18px; color:#237caa; font-weight:500; text-align:center; padding-top:30px; line-height:28px;}


.blog-share { float:right;} 
.btn-blog-fb { background:#3b5998;  border:1px solid #fff; color:#fff; font-size:11px; font-weight:500; text-transform:uppercase; height:35px; width:100px; border-radius:0px; }
.btn-blog-fb i { font-size:13px; text-align:left; float:left; padding-left:10px;}
.btn-blog-fb:hover, .btn-blog-fb:focus { background:none; color:#3b5998; border:1px solid #3b5998; font-size:11px; font-weight:600; text-transform:uppercase; height:35px; width:100px; border-radius:0px; outline:none; }
.blog-share-bot{ width:100%; float:left; margin:30px 0 0 0;}


.btn-blog-tw { background:#4099ff;  border:1px solid #fff; color:#fff; font-size:11px; font-weight:500; text-transform:uppercase; height:35px; width:100px; border-radius:0px; }
.btn-blog-tw i { font-size:13px; text-align:left; float:left; padding-left:10px;}
.btn-blog-tw:hover, .btn-blog-tw:focus { background:none; color:#4099ff; border:1px solid #4099ff; font-size:11px; font-weight:600; text-transform:uppercase; height:35px; width:100px; border-radius:0px; outline:none; }


.btn-blog-pn { background:#b8252c;  border:1px solid #fff; color:#fff; font-size:11px; font-weight:500; text-transform:uppercase; height:35px; width:100px; border-radius:0px; }
.btn-blog-pn i { font-size:13px; text-align:left; float:left; padding-left:10px;}
.btn-blog-pn:hover, .btn-blog-pn:focus { background:none; color:#b8252c; border:1px solid #b8252c; font-size:11px; font-weight:600; text-transform:uppercase; height:35px; width:100px; border-radius:0px; outline:none; }

.p40 { padding-top:40px;}


/*Banner inner pages starts*/
.banner-area-blog { background:url(../../img/blog-banner.png) repeat; background-position:center; height:350px;  width:100%; margin-top:75px; }
.banner-area-blog h3 {text-align:center; color:#fff; font-size:30px; padding-top:106px;  padding-bottom:35px;}
.banner-area-blog p {text-align:center; color:#fff; font-size:14px; line-height:25px; max-width:700px;  margin:0px auto;}

/*Banner inner pages ends*/


.blog-tabs { padding-top:30px;}
.blog-tabs .nav-pills li { border:1px solid #e9e7e7; border-radius:0px; height:60px; line-height: 60px; padding:0px 0px 0px 0px; color:#404040;  }
.blog-tabs .nav-pills li a { display: inline-block; vertical-align: middle; line-height: normal; color:#404040; font-size:13px;}
.blog-tabs .nav-stacked > li + li { margin:0px;}
.mw75 { min-width:75px;}
.searchby .media { margin-top:5px;}
.recent-article-wrap  { border:1px solid #e9e7e7; padding:10px 0px; margin:15px 0 0 0; }
.recent-article-wrap  .recent-b-img { padding-top:10px;}
.recent-article-wrap  .recent-b-head { color: rgb(89, 170, 225); font-weight:500;}
.recent-article-wrap  .recent-b-text { color: #404040; font-weight:300; font-size:13px; text-align:justify; padding-top:5px;}
.plft0 { padding-left:0px;}
.mbt0px { margin-bottom:0px;}
.recent-article-wrap ul{ margin:0px;}

.recent-article-wrap li { border-bottom:1px solid #e9e7e7; padding:15px 0px;}
.recent-article-wrap li:last-child{ border-bottom:0px;}
.recent-article-wrap li p{ font-size:13px;}
.blog-b-searchdrop { width:100%;; float:right; background:#fafafa; padding:0px 15px 0px 15px; margin:16px 0 0 0;   border:1px solid #e9e7e7; min-height:48px;}
.blog-b-searchdrop a { float:right; margin:14px 0 0 0;}
.blog-b-searchdrop select {	 -moz-appearance: none;   background: #fff url("../../img/arw.png") no-repeat scroll right 10px center;   border: 1px solid rgb(204, 204, 204);   border-radius: 2px; box-shadow: none;  height:30px; width:150px; color:#404040; font-weight:500; float:right;	-webkit-appearance:none; -moz-appearance:none; margin:10px 0 0 0; font-size:13px;}

.blog-b-searchdrop .control-label { margin:0; padding-top:0px; text-align: left; line-height:48px; }
.bdetail-theading { color:rgb(89, 170, 225); font-size:25px; padding:15px 0 10px 0; border-bottom:1px solid #e9e7e7;}
.blog-user-txt { margin-top:10px;}
.bdetailpopular { padding-top:45px;}
.blog-m { margin-top:10px !important;}
.blogb-head { font-size:13px; padding-top:10px;}

.yo-may-wrapper { border:1px solid #e9e7e7; padding:10px; margin-top:20px;}
.yo-may-wrapper img{ height:140px; border:#fafafa 1px solid;}
.yo-may-wrapper:hover { opacity:0.8;}
.mlike { padding-top:30px;}
.btgs { padding:15px 0 0 0;}
.btgs .label-info{ padding:5px 3px; display:inline-block; margin:5px 0 5px 0;}


.blog-tabs .nav-pills li.active   {  background:#f1f5e6; color:#000;  }
.blog-tabs .nav-pills li.active a  {  background:#f1f5e6; color:#000;  }

.blog-tabs .nav-pills li.active:hover, .blog-tabs .nav-pills li.active:focus   {  background:#f1f5e6 !important; color:#000;  }
.blog-tabs .nav-pills li.active a:hover, .blog-tabs .nav-pills li.active a:focus   {  background:#f1f5e6 !important; color:#000;  }


.blog-tabs .nav-pills li:hover, .blog-tabs .nav-pills li:focus   {  background:#f1f5e6 !important; color:#000;  }
.blog-tabs .nav-pills li a:hover, .blog-tabs .nav-pills li a:focus   {  background:#f1f5e6 !important; color:#000;  }
.s-tabs .nav-pills li a  { border:1px solid #e9e7e7; border-radius:0px; height:60px; padding:20px 0px 0px 20px; color:#404040;  }
.s-tabs .nav-stacked > li + li { margin-left: 0; margin-top: 0;}


.btn-blog-load-more { max-width:384px; margin-top:50px; height:55px; font-size:20px; color:#fff; background:#59aae1; margin-bottom:30px;}
.btn-blog-load-more:hover, .btn-blog-load-more:focus  { max-width:384px; margin-top:50px; height:55px; font-size:20px; color:#fff; background:#4b9dd4;}

.popularpost{ color:#72a105; font-size:16px; font-weight:600; border:1px solid #e9e7e7; background:#fafafa; padding:15px 15px 15px 20px;}
.blog-profile { margin-top:30px; min-height:305px;}
.blog-profile .img-thumbnail { padding:10px; width:100%;}
.blog-profile .img-thumbnail:hover {background:#f2fbff;}

.blog-profile p { padding-top:8px; color:#404040; font-size:13px; font-weight:400;}
.blog-profile p a { color:#59aae1; font-size:13px; font-weight:400;}

.blog-profile .img-box{opacity: 1;display: block;position: relative;}
.blog-profile .img-box:after{content:""; opacity: 0; background-color: rgba(0, 0, 0, 0.60); position: absolute; right: 0; left: 0; top: 0; bottom: 0;}
.img-box ul{position: absolute;z-index: 2; text-align: center; width: 100%; padding-left: 0px; height: 0px; margin:0px; opacity: 0; top:42%;}
.blog-profile .img-box:after, .img-box ul, .img-box ul li{-webkit-transition: all 0.5s ease-in-out 0s;   -moz-transition: all 0.5s ease-in-out 0s;   transition: all 0.5s ease-in-out 0s;}
.img-box ul i{font-size: 20px;letter-spacing: 10px;}
.img-box ul li{width: 30px;   height: 30px; text-align: center; border: 1px solid #88C425; margin: 2px; padding: 5px; display: inline-block;}
.img-box a{color:#fff;}
.img-box:hover:after{	opacity: 1;}
.img-box:hover ul{	opacity: 1;}
.img-box ul a{	-webkit-transition: all 0.2s ease-in-out 0s;	-moz-transition: all 0.2s ease-in-out 0s;	transition: all 0.2s ease-in-out 0s;}
.img-box a:hover li{	border-color: #fff;	color: #88C425;}

@media (min-width:992px) and (max-width:1199px) {
.blog-profile { margin-top:30px; min-height:320px;}	
}
@media (min-width:768px) and (max-width:991px) {
.p40 { padding-top:30px;}
.blog-share {   float: left;}
}


@media (min-width:992px) and (max-width:1024){
.popularpost{ padding:10px 0px 10px 15px;}
}
	
@media (min-width:768px) and (max-width:991px){
.yo-may-wrapper img{ height:110px; }
.popularpost{ padding:10px 0px 10px 15px;}
}

@media (min-width:641px) and (max-width:767px){
.yo-may-wrapper img { width:100%; }
.popularpost{ padding:10px 0px 10px 15px;}
}

@media (min-width:491px) and (max-width:640px){
.yo-may-wrapper img { width:100%; }
.popularpost{ padding:10px 0px 10px 15px;}
}

@media (min-width:320px) and (max-width:480px){
.blog-details-wrap {margin:100px 0 0 0;}
.blog-share-bot{ width:100%; float:left; margin:15px 0 0 0;}
.yo-may-wrapper img { width:100%; }
.popularpost{ padding:10px 0px 10px 15px;}
}