@charset "utf-8";
/* CSS Document */
.img-w { max-width:100px; max-height:100px; margin-top:15px;}
.favourite-wrap { margin:0px; margin-top: 0px; padding: 0 0px 30px;}
.favourites-box { border:1px solid #ccc; margin:30px 0 0 0; }
.favourites-box:hover { border:1px solid #ccc;}
.favourites-box-1 { border-top: 5px solid #fff; padding:15px 0;}
.favourites-box-1:hover { border-top: 5px solid #72a105;}
.favourites-box a p.name {color: #72a105; font-size: 16px; font-weight: 300;}
.favourites-box a p.loc {color: #2d2d2d; font-size: 14px; font-weight: 300; margin: 0;}
.favourites-box a p.grey { color: #999 !important;  padding-top: 5px; margin:15px;} 
.starPad {margin-top:5px;    /*margin-left: 100px !important;*/}
.favourite-wrap .review-pagination { padding:15px 0; width:100%; float:left; background:#f8f8f8; margin:30px 0 0 0; border:#ebebeb 1px solid; }
.favourite-wrap   ul.list-inline { margin:0px; padding:0px;}


.favourites-box-1 .img-w{ width:120px; height:120px; object-fit:cover; margin:0 0 10px 0;}
.favourites-box-1 .fb-name{ width:100%; }
.favourites-box-1 .fb-name p{ font-size:16px; font-weight:bold; color:#404040;}
.favourites-box-1 .fb-loc{ width:100%; }
.favourites-box-1 .fb-loc p{ font-size:13px; color:#404040;}
.favourites-box-1 .fb-rate{ width:100%; float:left; }
.favourites-box-1 .fb-rate p{ text-align:center; }
.favourites-box-1 .fb-rate span{ width:94px; margin:0 auto; display:block;}
.rating > input { display: none; } 
.rating > label:before { margin: 0px 1px 8px 1px;font-size: 1.25em;font-family: FontAwesome;display: inline-block;content: "\f005";}
.rating > .half:before { content: "\f089";position: absolute;}
.rating > label {color: #D8D8D8 ;/*#b8b894; */  float: right; }


.favourite-wrap .review-pagination .next { background:#69aadb; height:30px; width:70px; color:#fff; border-radius:2px; font-size:12px; padding-top:5px; font-weight:500;}
.favourite-wrap .review-pagination .prev { background:#69aadb; height:30px; width:70px; color:#fff; border-radius:2px; font-size:12px; padding-top:5px; font-weight:500;}

.favourite-wrap .review-pagination .numbers { background:#69aadb; height:30px; width:30px; color:#fff; border-radius:2px; font-size:12px; padding-top:5px; font-weight:500;}
.favourite-wrap .review-pagination .numbers.active { opacity:0.7;}
.favourite-wrap .review-pagination .active { opacity:0.7;}

.favourite-wrap .review-pagination  li { cursor:pointer;}
.favourite-wrap .review-pagination  li a { color:#fff; outline:none; text-decoration:none; }
.favourite-wrap .review-pagination  li a:hover,  .review-pagination  li a:focus { color:#fff; outline:none; text-decoration:none; }


@media (min-width:768px) and (max-width:991px){
.favourite-wrap { padding:0px; margin:0 0 15px 0;}
.favourites-box { margin:15px 0 0 0; }	
.favourite-wrap .review-pagination { margin:15px 0 0 0;}
}
@media (min-width:641px) and (max-width:767px){
.favourites-box { margin:15px 0 0 0; }	
.favourite-wrap .review-pagination { margin:15px 0 0 0;}
.favourite-wrap { padding:0px; margin:0 0 15px 0;}
}
@media (min-width:481px) and (max-width:640px){
.favourites-box { margin:15px 0 0 0; }	
.favourite-wrap .review-pagination { margin:15px 0 0 0;}
.favourite-wrap { padding:0px; margin:0 0 15px 0;}
}
@media (min-width:320px) and (max-width:480px){
.favourite-wrap { padding:0px; margin:0 0 15px 0;}
.favourites-box { margin:15px 0 0 0; min-height:230px; }
.favourites-box-1 .img-w{ width:80px; height:80px; margin:0 0 5px 0;}
.favourites-box-1 .fb-name p{ font-size:14px; font-weight:normal;}	
.favourites-box-1 .fb-loc p{ font-size:12px; }
.favourite-wrap .review-pagination { margin:15px 0 0 0;}
}