  @charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------------New header css-----------------------------------------------------------------------*/
header {width: 100%; border-bottom:#72a105 5px solid; height:75px; position:fixed; top:0; left:0;   z-index:999999; background-color: #ffffff; }
.head-wrap{ width:100%; float:left;}
header .logo-area { width:100%; float:left; width:100%; max-width:252px; border-right:#b7b7b7 1px solid; height:70px; }
header .desk-logo a{ margin:25px 0 0 7px; float:left; } 
header .logo-area .mob-logo{ margin:20px 0 0 0; float:left ; display:none; } 
header .top-search{ width:100%; max-width:500px; float:left; min-height:70px; background:#ffffff;   }
header .top-search .search-box{ width:100%; max-width:475px; float:left;  }
header .top-search .search-box .search-input{ width:100%; float:left; background: url(../../img/serach-icon.png) no-repeat center left; height:70px; border:0px; line-height:70px;  color:#666666; padding:0 0 0 44px;
color:#c0c0c0; font-style:italic; font-size:16px; margin:0 0 0 29px; }
header .topnav-area{ width:100%; float:left;   }
header .topnav-area .navbar{ margin-bottom:0px; border-radius:0px; float:right; border:0px;    }
header .topnav-area .navbar li{ padding:18px 9px; }
header .topnav-area .navbar li.dd-country{padding:15.5px 9px;}
header .topnav-area .navbar li.dd-country a img{ width:18px; height:18px; border-radius:50%;}
header .topnav-area .navbar li a{ color:#646464; padding:8px 10px; font-size:15px; font-weight:300;  }
header .topnav-area .navbar li a:hover, header .topnav-area .navbar li a:focus{ color:#72a105; background:none ;}

header.smaller .topnav-area .navbar li.select a, header.smaller .topnav-area .navbar li.select a:hover, header.smaller .topnav-area .navbar li.select a:focus{ background:url(../../img/select-bgr-x.png) repeat-x  center !important; color:#ffffff; border-radius:3px; padding:7px 25px; }

header .topnav-area .navbar li a .badge{ background:#ff0000; margin:-15px 0 0 0; width:25px; height:25px; border:2px solid #ffffff; border-radius:50%; padding:0px; box-shadow:#c7c7c7 0px 2px 0px; line-height:20px;}
header.smaller .topnav-area .navbar li a .badge{ margin:-11px 0 0 0;}


.topnav-area .navbar-nav li .currency-drop{padding:10px 15px 0 15px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:200px; float:left; left:auto; right:0px;  }
.topnav-area .navbar-nav li .drop-profile{ right:0px;}
.topnav-area .navbar-nav li .currency-drop .cd-box { width:100%; float:left; background:#ffffff; border:#d6d6d6 1px solid; border-radius:2px; overflow:visible !important;  }
.topnav-area .navbar-nav li .currency-drop .cd-box ul{ margin:0px; padding:0px; list-style-type:none;}
.topnav-area .navbar-nav li .currency-drop .cd-box ul li{ width:50%; float:left; padding:0px; text-align:center;}
.topnav-area .navbar-nav li .currency-drop .cd-box ul li a{ padding:0px; line-height:28px; display:block; font-size:15px; text-decoration:none;}
.topnav-area .navbar-nav li .currency-drop .cd-box ul li.current a{ background:#8eb60f; color:#ffffff; }
.topnav-area .navbar-nav li .currency-drop ul.c-list{ margin:5px 0 0 0; padding:0px; list-style-type:none; width:100%; float:left;}
.topnav-area .navbar-nav li .currency-drop ul.c-list li{ padding:0px; line-height:33px; background:url(../../img/c-list-bgr-x.png) repeat-x bottom;}
.topnav-area .navbar-nav li .currency-drop ul.c-list li a{  padding:0px; color:#646464; text-decoration:none; }
.topnav-area .navbar-nav li .currency-drop ul.c-list li a:hover, .topnav-area .navbar-nav li .currency-drop ul.c-list li a:focus{ color:#72a105;}
.topnav-area .navbar-nav li .currency-drop ul.c-list li a img{ float:left; margin:5px 12px 0 0;}
.topnav-area .navbar-nav li .currency-drop ul.c-list li:last-child{ background:none;}
.topnav-area .navbar-nav li .currency-drop ul.c-list-2{ margin:0px;}
.topnav-area .navbar-nav li .currency-drop ul.c-list-2 li a .fa{ margin:0 10px 0 0; color:#737373;}
.topnav-area .navbar-nav li .currency-drop ul.c-list li a span img{ margin:7px 12px 0 0px; }

.topnav-area .navbar-nav li .login-drop{padding:15px 15px 15px 15px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:300px; float:left; left:auto; right:0px;  }
.topnav-area .navbar-nav li .login-drop a.lwfb{ background:#4063b3; border:#3c599d 1px solid; color:#ffffff; line-height:25px; height:40px; text-align:center; text-decoration:none; width:100%; float:left; border-radius:3px;
display:block; margin:10px 0 0 0;}
.topnav-area .navbar-nav li .login-drop a.lwfb:hover{ background:#3557a4;}
.topnav-area .navbar-nav li .login-drop a.lwfb .fa{ margin:0 5px 0 0; font-size:15px;} 
.topnav-area .navbar-nav li .login-drop p{ font-size:18px; text-align:center; font-weight:200; padding:5px 0; margin:0px; clear:left; }
.topnav-area .navbar-nav li .login-drop .form-group{ margin:0px;}
.topnav-area .navbar-nav li .login-drop .form-group .form-control{ margin:0 0 5px 0;}
.topnav-area .navbar-nav li .login-drop .form-group label{ font-size:14px; font-size:13px; font-weight:300; margin:0 0 5px 0;}
.topnav-area .navbar-nav li .login-drop .form-group .btn-success{ width:100%; margin:10px 0 0 0; background:#72A105;}
.topnav-area .navbar-nav li .login-drop .form-group .btn-success:hover, .topnav-area .navbar-nav li .login-drop .form-group .btn-success:focus { width:100%; margin:10px 0 0 0; background:#699305;}
.topnav-area .navbar-nav li .login-drop p.forget{ font-size:13px; line-height:18px; color:#404040;}
.topnav-area .navbar-nav li .login-drop p.forget a{ font-size:13px; text-decoration:none; color:#2c80b9;}
.topnav-area .navbar-nav li .login-drop p.forget a:hover{ color:#3b8bc2;}


/*last drop down*/
.topnav-area .navbar-nav li.last-drop{ position:relative;}
.topnav-area .navbar-nav li.last-drop .country-drop{ position:absolute;padding:15px 15px 15px 15px; top:46px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:300px; float:left; left:auto; right:0px;}
.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs{ border:#d6d6d6 1px solid; border-radius:3px; background:#ffffff; }
.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs li{ width:50%; padding:0px; text-align:center;}
.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs li a{ border-radius:0px; margin:0px; padding:0px; display:block; padding:5px 0; border:0px;}

.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs > li.active > a,
.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs > li.active > a:focus,
.topnav-area .navbar-nav li.last-drop .country-drop ul.nav-tabs > li.active > a:hover { background:#8eb60f; color:#ffffff; border:0px;}

.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list{ margin:5px 0 0 0; padding:0px; list-style-type:none; width:100%; float:left;}
.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list li{ padding:0px; line-height:31px; background:url(../../img/c-list-bgr-x.png) repeat-x bottom;}
.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list li a{  padding:0px; color:#646464; text-decoration:none; font-size:13px; }
.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list li a:hover, .topnav-area .navbar-nav li .currency-drop ul.c-list li a:focus{ color:#72a105;}
.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list li a img{ float:left; margin:7px 10px 0 0; width:18px; height:18px; border-radius:50%;}
.topnav-area .navbar-nav li.last-drop .tab-content ul.c-list li:last-child{ background:none;}

.topnav-area .navbar-nav li.last-drop a .lang-txt{ font-size:13px; margin:2px 0 0 0; line-height:16px;}

.mob-country-drop{ width:20%; float:right; display:none;}
.mob-country-drop ul{ margin:0px; padding:0px; list-style-type:none;}
.mob-country-drop ul li.last-drop{ position:relative;}
.mob-country-drop ul  li.last-drop .country-drop{ position:absolute;padding:15px 15px 15px 15px;top:30px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:300px; float:left; left:auto; right:0px;}
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs{ border:#d6d6d6 1px solid; border-radius:3px; background:#ffffff; }
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs li{ width:50%; padding:0px; text-align:center;}
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs li a{ border-radius:0px; margin:0px; padding:0px; display:block; padding:5px 0; border:0px;}

.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs > li.active > a,
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs > li.active > a:focus,
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs > li.active > a:hover { background:#8eb60f; color:#ffffff; border:0px;}

.mob-country-drop ul li.last-drop .tab-content ul.c-list{ margin:5px 0 0 0; padding:0px; list-style-type:none; width:100%; float:left;}
.mob-country-drop ul li.last-drop .tab-content ul.c-list li{ padding:0px; line-height:31px; background:url(../../img/c-list-bgr-x.png) repeat-x bottom;}
.mob-country-drop ul li.last-drop .tab-content ul.c-list li a{  padding:0px; color:#646464; text-decoration:none; font-size:13px; }
.mob-country-drop ul li.last-drop .tab-content ul.c-list li a:hover, .topnav-area .navbar-nav li .currency-drop ul.c-list li a:focus{ color:#72a105;}
.mob-country-drop ul li.last-drop .tab-content ul.c-list li a img{ float:left; margin:5px 12px 0 0; width:18px; height:18px; border-radius:50%;}
.mob-country-drop ul li.last-drop .tab-content ul.c-list li:last-child{ background:none;}

/* CSS for only currency dropdown in top navigation */
.topnav-area .navbar-nav li.last-drop .country-drop{ position:absolute;padding:5px 10px; top:46px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:200px; float:left; left:auto; right:0px;}
.mob-country-drop ul  li.last-drop .country-drop{ position:absolute;padding:5px 10px;top:30px; background:#efefef; border:0px; border-radius:5px; box-shadow:0px 0px 0px; width:200px; float:left; left:auto; right:0px;}
/* CSS for only currency dropdown in top navigation */
.mob-top-nav { display:none;}

.new-mob-area{ width:100%; float:left; position:relative;}
#new-nav{ width:48px;height:46px; float:left; position:absolute; right:0px; display:none; }
#new-nav img{ width:26px; height:17px; margin:14px 0 0 0; float:right; display:block; cursor:pointer; }
#nav-inner{ width:100%; float:left; background:#f5f5f5; display:none; border-radius:3px; }

#nav-inner .navbar-nav .open .dropdown-menu{position:relative;}
#nav-inner .navbar-nav .open .dropdown-menu li{ padding:7px 0;}

#nav-inner ul{ margin:0px; padding:0px; list-style-type:none; width:100%; float:left;}
#nav-inner ul li{width:100%; background:url(../../img/c-list-bgr-x.png) repeat-x bottom;}
#nav-inner ul li a{ font-size:13px; padding:5px 0 5px 15px;}
#nav-inner ul li.last-drop img{ width:18px; height:18px; border-radius:50%;}
#nav-inner ul li.last-drop ul.c-list{ margin:0px; padding:0px; list-style-type:none;}
#nav-inner ul li.last-drop ul.c-list li{ padding:4px 0 4px 0px; width:100%;}
#nav-inner ul li.last-drop ul.c-list li a{ font-size:12px; }
#nav-inner ul li.last-drop ul.c-list li a img{ margin:0 10px 0 0; width:15px; height:15px;}


#nav-inner ul li #loginUser{ padding:5px 15px;}
#nav-inner ul li #loginUser label{ font-size:13px; padding:5px 0; font-weight:normal;}
#nav-inner ul li  #log_in_btn{ width:100%; margin:10px 0 0 0;}
#nav-inner ul li p.forget{ font-size:12px; padding:5px 0 0 15px;}
#nav-inner ul li p.forget a#droplogForgot{ padding:0px;}


/*last drop down*/

.topnav-area .navbar-toggle { background:#72a105; margin-right:0px;}
.topnav-area .navbar-toggle .icon-bar{ background:#ffffff;}
.topnav-area .navbar-collapse{ padding-right:0px;}
.topnav-area .navbar-toggle-sidebar{ float:left; border:0px; margin:7px 0 0 0; color:#ffffff; padding:7px 10px; border-radius:2px;}

/*Resize css*/
header.smaller { height:50px ;   }
header.smaller .logo-area{ height:45px;}
header.smaller .desk-logo a{ margin:13px 0 0 25px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .top-search .search-box{ height:45px;}
header.smaller .top-search .search-box .search-input{height:45px; border:0px; line-height:50px; font-size:13.5px;}
header.smaller .topnav-area .navbar li{ padding:5.3px 9px 10.3px 9px;  }
header.smaller .topnav-area .navbar li a{ color:#646464; padding:5px 7px; font-size:13px;}
/*-----------------------------------------------------------New header css-----------------------------------------------------------------------*/

/*========================================================Banner css start=====================================================*/

.banner-area{ width:100%; float:left; background:url(../../img/home-banner.png) no-repeat;  background-size:cover; background-position: center center; padding:45px 0 75px 0;}
.banner-area .ban-txt{ width:100%; float:left;  text-align:center; }
.banner-area .ban-txt h1{font-family:'CenturyGothic-Regular'; font-size:40px; color:#ffffff; text-shadow:#858585 0.6px 2px 0.6px ; padding:25px 0 0 0;}
.banner-area .ban-txt p{font-size:20px; font-family: "Century Gothic";  color:#ffffff; padding:0px 0 0 0; text-shadow:#858585 0.6px 2px 0.6px ; }
.banner-area .ban-txt .hworks{ width:160px; height:40px; display:block; line-height:40px; color:#ffffff; text-decoration:none; font-size:16px; font-family:"Century Gothic"; background:#59aae1; margin:25px auto 0;
 border-radius:1px; }
 .banner-area .ban-txt .hworks:hover{ background:#2c80b9;}
.banner-area .ban-txt .hworks .fa{ margin:0 12px 0 0;}

.ban-search-area{ width:100%; float:left; margin:5px 0 0 0; }
.ban-search-area .bs-box{ width:100%; float:left; background-color:rgba(255, 255, 255, 0.6); min-height:250px; border-radius:5px; padding:24px;}
.ban-search-area .bs-box .top-srch{ width:100%; float:left;}
.ban-search-area .bs-box .top-srch p{ font-size:18px; color:#404040; margin:0 0 20px 0;}
.ban-search-area .bs-box .top-srch .ts-lft{ width:100%; max-width:540px;  float:left;}
.ban-search-area .bs-box .top-srch .ts-rgt{ width:100%; max-width:350px;  float:right;}
.ban-search-area ul.search-list{ margin:0px; padding:0px; list-style-type:none;}
.ban-search-area ul.search-list li{ float:left; width:165px; height:70px;  background-color:rgba(255, 255, 255, 0.6); border:#a6a6a6 1px solid; margin:0 20px 0 0; border-radius:3px; text-align:center; padding:12px 0 0 0; }
.ban-search-area ul.search-list li a{ font-size:14px; color:#404040; text-decoration:none; display:block;}
.ban-search-area ul.search-list li a .nc{ background:url(../../img/search-icons.png) no-repeat top left; width:27px; height:26px; display:block; text-align:center; margin:0 auto;  }
.ban-search-area ul.search-list li a .db{ background:url(../../img/search-icons.png) no-repeat 0px -26px; width:27px; height:26px; display:block; text-align:center; margin:0 auto;  }
.ban-search-area ul.search-list li a .div{ background:url(../../img/search-icons.png) no-repeat 0px -52px; width:27px; height:26px; display:block; text-align:center; margin:0 auto;  }
.ban-search-area ul.search-list li a .dc{ background:url(../../img/search-icons.png) no-repeat 0px -78px; width:27px; height:26px; display:block; text-align:center; margin:0 auto;  }
.ban-search-area ul.search-list li a .dw{ background:url(../../img/search-icons.png) no-repeat 0px -104px; width:27px; height:26px; display:block; text-align:center; margin:0 auto;  }
.ban-search-area ul.search-list li:hover{ border-color:#72a105; }
.ban-search-area ul.search-list li:hover a{ color:#72a105;}
.ban-search-area ul.search-list li a:focus { color:#72a105;}
.ban-search-area ul.search-list li:hover .nc{  background:url(../../img/search-icons.png) no-repeat -27px 0px;}
.ban-search-area ul.search-list li:hover .db{  background:url(../../img/search-icons.png) no-repeat -27px -26px;}
.ban-search-area ul.search-list li:hover .div{ background:url(../../img/search-icons.png) no-repeat -27px -52px;}
.ban-search-area ul.search-list li:hover .dc{  background:url(../../img/search-icons.png) no-repeat -27px -78px;}
.ban-search-area ul.search-list li:hover .dw{  background:url(../../img/search-icons.png) no-repeat -27px -104px;}
.ban-search-area ul.search-list li:last-child{ margin:0px;}

.bot-search{ width:100%; float:left; margin:30px 0 0 0;}
.bot-search ul.form-group{ margin:0px; padding:0px; list-style-type:none;}
.bot-search ul.form-group li{float:left; }
.bot-search ul.form-group li .form-control{ width:100%; border-radius:0px; background:#ffffff; border:0px; height:50px;}
.bot-search ul.form-group li.search{ width:37%; border-right:#cacaca 1px solid; }
.bot-search ul.form-group li.drop{ width:15%; border-right:#cacaca 1px solid;}
.bot-search ul.form-group li.pick{ width:15%; border-right:#cacaca 1px solid;}
.bot-search ul.form-group li.size{ width:15%; }
.bot-search ul.form-group li.search-btn{ width:18%;}

.bot-search ul.form-group li.size select{ -moz-appearance:none;}
.bot-search ul.form-group li.size select option{ font-size:14px; color:#404040;}
.bot-search ul.form-group li.search-btn .btn-success{ background:#59abe3; width:100%; height:50px; line-height:35px; font-size:20px; text-transform:uppercase; border-radius:0px; border:0px;}
.bot-search ul.form-group li.search-btn .btn-success:hover{ background:#2c80b9;}


/*top drop content*/
#panel{padding:0px 0px; text-align: center;  z-index:19; display:none; background:#131212 ;}
#panel .topdrop-area{ width:100%; float:left; padding:125px 0 100px 0;}
#panel .topdrop-area .close{width:100%; float:left; margin:0 0 50px 0;}
#panel .topdrop-area .close a{float:right; color:#ffffff;}
#panel .topdrop-area .close a:hover{color:#ffffff;}
#panel .topdrop-area .td-box{ width:100%; float:left; text-align:center;}
#panel .topdrop-area .td-box .td-img{ width:80px; height:80px; background:url(../../img/search-icons.png) no-repeat; background-position:-140px 0px; display:block; margin:0 auto 20px; border:#ffffff 3px solid; border-radius:50%;}
#panel .topdrop-area .td-box .td-img-2{ background:url(../../img/search-icons.png) no-repeat; background-position:-140px -80px;}
#panel .topdrop-area .td-box .td-img-3{ background:url(../../img/search-icons.png) no-repeat; background-position:-140px -160px;}
#panel .topdrop-area .td-box:hover .td-img{background:url(../../img/search-icons.png) no-repeat; background-position:-221px 0px; border:#59a9e1 3px solid; }
#panel .topdrop-area .td-box-2:hover .td-img{background:url(../../img/search-icons.png) no-repeat; background-position:-221px -80px; border:#59a9e1 3px solid; }
#panel .topdrop-area .td-box-3:hover .td-img{background:url(../../img/search-icons.png) no-repeat; background-position:-221px -160px; border:#59a9e1 3px solid; }

#panel .topdrop-area .td-box p.txt-head{ font-size:20px; color:#ffffff;}
#panel .topdrop-area .td-box p{font-size:13px; color:#ffffff; padding:10px 10px 0 10px; }
#panel .topdrop-area a.td-more{text-decoration:none; color:#ffffff; margin:100px auto 0; display:inline-block; border:#ffffff 1px solid; display:block; max-width:300px; padding:15px 0; border-radius:50px; text-transform:uppercase;}
#panel .topdrop-area a.td-more:hover{color:#59a9e1; border:#59a9e1 1px solid;}

/*Banner inner pages starts*/
.banner-area-1 {background:url(../../img/contact-banner.png) repeat; background-position:center; height:350px;  width:100%; margin-top:75px;}

.banner-area-1 h3 {text-align:center; color:#fff; font-size:30px; padding-top:165px;}
/*Banner inner pages ends*/

/*top drop content*/

/*-------------------- New Banner Search CSS Start --------------------- */
.ban-search-area .bs-box{ background:rgba(255, 255, 255, 0.85); margin:50px 0 0 0;}
.ban-search-area .bs-box .sr-area{ border:0px; background:none;}
.ban-search-area .bs-box .sr-area-outer{ margin:0px;}
.ban-search-area .bs-box .top-sr-area{ background:none; }
.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:19.5%; margin:0 0.6% 0 0; border:#d1d1d1 1px solid; border-radius:3px;}
/*.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:20%; margin:0 0 0 0; border:#d1d1d1 1px solid; border-radius:3px;}*/
.ban-search-area .bs-box .sr-area .top-filter-tab ul li:last-child{ margin-right:0px;}
.ban-search-area .bs-box .sr-area .top-filter-tab ul li a span{ margin:3px 8px 0 6px}

.ban-search-area .bs-box .search-bot-area .from-to-area{ padding:0px; margin:15px 0 0 0;}
.ban-search-area .bs-box .search-bot-area ul.sb-list{ margin:0px 0 0 0; padding:0px; list-style-type:none; width:100%;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li{ width:32.6%;  float:left; margin:0 1% 0 0;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li:last-child{ margin-right:0px;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li .date-box-1, .ban-search-area .bs-box .search-bot-area ul.sb-list li .date-box{ border-radius:3px;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li .date-box-1 .d-input { width:100%; padding:0 10px; border-radius:3px;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li .date-box .d-input { border-radius:3px;}

.ban-search-area .bs-box .search-bot-area .sb-area{ width:100%; float:left; margin:15px 0 0 0; }
.ban-search-area .bs-box .search-bot-area .sb-area ul{ margin:0px; padding:0px; list-style-type:none;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li{ width:49.5%; float:left; margin:0 1% 0 0;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li:last-child{ margin-right:0px;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size{ width:100%; float:left; font-size:13px; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size label { margin-bottom:5px;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul{ margin:0px; padding:0px; list-style-type:none;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li{ float:left; width:24.25%; margin:0 1% 0 0; background:#ffffff;   text-align:center; 
 box-sizing: border-box; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li a{border-radius:3px; padding:5px 0;  display:block; font-size:12px; color:#404040; text-decoration:none;  border:#d1d1d1 1px solid;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li a b{font-size:14px; display:block; font-weight:500;  }
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li:last-child{ margin-right:0px;}

.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li a:hover,.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li a:focus{/* border:#72a105 1px solid;*/ display:block; color:#72a105; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li .sb-btn{ width:100%; height:46px; border:0px; font-size:18px; margin:5px 0 0 0; background:#72A105;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .sb-btn:hover{  background:#699305;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .sb-btn:focus{ background:#699305;}

.ban-search-area .bs-box .search-bot-area .from-to-area .dog-list ul li{ margin:0px;}
.ban-search-area .bs-box .search-bot-area .from-to-area .dog-list ul li:first-child{ border-radius:3px 0px 0px 3px; }

.ban-search-area .bs-box .col-cont .market-place ul{ margin:0px;}
.ban-search-area .bs-box .col-cont .market-place ul li a{ background:none; padding:0px 15px; height:44px; border-radius:0px; line-height:43px; background:#ffffff;}
.ban-search-area .bs-box .col-cont .market-place ul li:last-child a{ border-right:#d1d1d1 1px solid;}

.ban-search-area .bs-box .col-cont .market-place ul li a.training{ color:#404040;}
/*.ban-search-area .bs-box .col-cont .market-place ul li a.training:hover{ color:#ffffff; background:#404040;}*/
.ban-search-area .bs-box .col-cont .market-place ul li.active a.training { color:#ffffff; background:#404040;}

.ban-search-area .bs-box .col-cont .market-place ul li a.recreation { color:#404040;}
/*.ban-search-area .bs-box .col-cont .market-place ul li a.recreation:hover{color:#ffffff; background:#404040; }*/
.ban-search-area .bs-box .col-cont .market-place ul li.active a.recreation{color:#ffffff;   background:#404040;}

.ban-search-area .bs-box .col-cont .market-place ul li a.grooming  color:#404040;}
.ban-search-area .bs-box .col-cont .market-place ul li a.grooming:hover{ color:#ffffff; background:#404040; }
.ban-search-area .bs-box .col-cont .market-place ul li.active a.grooming{ color:#ffffff; background:#404040;}

.ban-search-area .bs-box .col-cont .market-place ul li a.driver { color:#404040; border-right:#d1d1d1 1px solid;}
/*.ban-search-area .bs-box .col-cont .market-place ul li a.driver:hover{ color:#ffffff; background:#404040; }*/
.ban-search-area .bs-box .col-cont .market-place ul li.active a.driver{ color:#ffffff; background:#404040; }

.ban-search-area .bs-box .sr-area .top-filter-tab ul li.display-mob{color: #404040;    font-size: 14px;    padding: 0 0 15px;    text-transform: uppercase; border:0px; background:none; font-weight:normal; display:none;}

/*-------------------- New Banner Search CSS Start --------------------- */

.standard-green{color:#72A105}
/*=========================================================Banner css End======================================================*/


@media (min-width:1601px) and (max-width:1900px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:35%; max-width:252px; height:70px;}
header .top-search{ width:65%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%; }
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px;}
header .logo-area .desk-logo{ display: block;}
header .logo-area .mob-logo{ display: none;}
header.smaller { height:55px;}
header.smaller .logo-area{ height:50px;}
header.smaller .top-search{ min-height:50px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 1px solid; margin:0 -15px 0 0;}
header .topnav-area .navbar .navbar-nav{ float:right; }
header.smaller .topnav-area .navbar .nav-logout li{ padding:7px 5px 7px 5px;}
/*top head*/
}
@media (min-width:1441px) and (max-width:1600px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:35%; max-width:252px; height:70px;}
header .top-search{ width:65%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%;}
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px;}
header .logo-area .desk-logo{ display: block;}
header .logo-area .mob-logo{ display: none;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:50px;}
header.smaller .top-search{ min-height:50px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 1px solid;}
header .topnav-area .navbar .navbar-nav{ float:right; }
header.smaller .topnav-area .navbar .nav-logout li{ padding:7px 5px 7px 5px;}
/*top head*/
.banner-area{ height:100vh;}
.ban-search-area{ margin:5px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
}
@media (min-width:1337px) and (max-width:1440px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:35%; max-width:252px; height:70px;}
header .top-search{ width:65%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%;}
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:13px;}
header .logo-area .desk-logo{ display:block;}
header .logo-area .mob-logo{ display: none;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:50px;}
header.smaller .top-search{ min-height:50px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 1px solid;}
header .topnav-area .navbar .navbar-nav{ float:right; }
header.smaller .topnav-area .navbar .nav-logout li{ padding:7px 5px 7px 5px;}
/*top head*/

.ban-search-area{ margin:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}

}

@media (min-width:1200px) and (max-width:1366px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:45%; max-width:252px; height:70px;}
header .top-search{ width:55%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%;}
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px;}
header .logo-area .desk-logo{ display:block;}
header .logo-area .mob-logo{ display: none;  text-align:center; width:100%; margin:25px 0 0 0;}
header.smaller { height:50px;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 1px solid;}
header .topnav-area .navbar .navbar-nav{ float:right; }
header .topnav-area .navbar .nav-logout li{ padding:18px 4px;}
header.smaller .topnav-area .navbar .nav-logout li{ padding:5px 0px 7px 0;}
/*top head*/
.banner-area{ padding:45px 0 75px 0; }
.banner-area .ban-txt p{font-size:20px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:20px auto 0;}
.ban-search-area{ margin:20px 0 0 0;}

.ban-search-area .bs-box{ margin:15px 0 0 0px;}

}

@media (min-width:1025px) and (max-width:1199px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:15%; max-width:252px; height:70px;}
header .top-search{ width:85%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%;}
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:25px 0 0 0;}
header.smaller { height:50px;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 1px solid;}
header .topnav-area .navbar .navbar-nav{ float:right; }
header .topnav-area .navbar .nav-logout li{ padding:18px 0px;}
header.smaller .topnav-area .navbar .nav-logout li{ padding:5px 0px 7px 0;}
/*top head*/	
	
/*Banner*/
.banner-area{padding:45px 0 75px 0;}
.banner-area .ban-txt{ margin:0px 0 0 0;}
.banner-area .ban-txt h1{ font-size:40px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:20px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:20px auto 0;}
.ban-search-area{ margin:10px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:32%; margin:0 2% 0 0; height:auto; padding:10px 0;}

.ban-search-area .bs-box{ margin:0px;}
.ban-search-area .bs-box .col-cont .market-place ul li{ width:25%;}
.ban-search-area .bs-box .col-cont .market-place ul li a{ border-right:0px;}
.ban-search-area .bs-box  .col-cont .market-place{ margin:0px;}
.ban-search-area .bs-box  .col-cont .market-place label{ margin:0px; background:none; padding:0px 0 10px 0; color:#404040; }

/*Banner*/	
}

@media (min-width:992px) and (max-width:1024px){
/*top head*/	
header{ height:75px;}
header .logo-area { width:15%; max-width:252px; height:70px;}
header .top-search{ width:85%; min-height:70px; max-width:100%; }
header .top-search .search-box{ max-width:100%;}
header .top-search .search-box .search-input{ height:70px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:14px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:25px 0 0 0;}
header.smaller { height:50px;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:right; width:100%;  border-top:#f0f0f0 5px solid;}
header .topnav-area .navbar .navbar-nav{float: right;}
header .topnav-area .navbar .nav-logout li{ padding:14px 0px;}
header.smaller .topnav-area .navbar .nav-logout li{ padding:0px 0px 7px 0;}
header .topnav-area .navbar .nav-logout li a{ font-size:14px;}
/*top head*/	
	
/*Banner*/
.banner-area{ height:auto; padding:45px 0 75px 0;}
.banner-area .ban-txt{ margin:0px 0 0 0;}
.banner-area .ban-txt h1{ font-size:40px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:20px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
.ban-search-area{ margin:15px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:32%; margin:0 2% 0 0; height:auto; padding:10px 0;}

#panel .topdrop-area{ padding:125px 0 25px 0;}
#panel .topdrop-area .td-box{ margin:0 0 30px 0; padding:40px 0;}
#panel .topdrop-area .td-box .td-img{ margin:0 auto 10px;}
#panel .topdrop-area a.td-more{ margin:0px 0 0 0;}

.ban-search-area .bs-box{ margin:0px;}
.ban-search-area .bs-box .col-cont .market-place ul li{ width:25%;}
.ban-search-area .bs-box .col-cont .market-place ul li a{ border-right:0px;}
.ban-search-area .bs-box  .col-cont .market-place{ margin:0px;}
.ban-search-area .bs-box  .col-cont .market-place label{ margin:0px; background:none; padding:0px 0 10px 0; color:#404040; }
/*Banner*/
	
}
@media (min-width:901px) and (max-width:991px){
header .topnav-area .navbar .navbar-nav li{ padding:6px 4.6%;}
header .topnav-area .navbar .nav-logout li{ padding:6px 2.5%;}
.topnav-area .navbar-nav li.last-drop .country-drop{ top:55px;}
}
@media (min-width:851px) and (max-width:900px){
header .topnav-area .navbar .navbar-nav li{ padding:6px 3.7%;}
header .topnav-area .navbar .nav-logout li{ padding:6px 2.2%;}
.topnav-area .navbar-nav li.last-drop .country-drop{ top:55px;}
}
@media (min-width:801px) and (max-width:850px){
header .topnav-area .navbar .navbar-nav li{ padding:6px 3.7%;}
header .topnav-area .navbar .nav-logout li{ padding:6px 1.8%;}
.topnav-area .navbar-nav li.last-drop .country-drop{ top:55px;}
}
@media (min-width:768px) and (max-width:800px){
header .topnav-area .navbar .navbar-nav li{ padding:6px 3%;}
header .topnav-area .navbar .nav-logout li{ padding:6px 1.3%;}
.topnav-area .navbar-nav li.last-drop .country-drop{ top:55px;}
}

@media (min-width:768px) and (max-width:991px){
/*top head*/	
header{ height:auto;}
header .logo-area { width:15%; max-width:252px; height:50px;}
header .top-search{ width:85%; min-height:50px; max-width:100%; }
header .top-search .search-box .search-input{ height:50px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:15px 0 0 0;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:12px 0 0 0;}
header .topnav-area .navbar{ float:left; width:100%;  border-top:#f0f0f0 1px solid;}
header .topnav-area .navbar .navbar-nav{ width:100%;}
/*top head*/

/*Banner*/
.banner-area{ padding:45px 0 75px 0;}
.banner-area .ban-txt{ margin:50px 0 0 0;}
.banner-area .ban-txt h1{ font-size:40px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:20px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
.ban-search-area{ margin:25px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:100%; margin:0 0 15px 0; height:auto; padding:10px 0;}
.ban-search-area ul.search-list li a span{ display:none !important;}

#panel .topdrop-area{ padding:125px 0 25px 0;}
#panel .topdrop-area .td-box{ margin:0 0 30px 0; border-bottom:#202020 1px solid; padding:40px 0;}
#panel .topdrop-area .td-box .td-img{ margin:0 auto 10px;}
#panel .topdrop-area a.td-more{ margin:0px 0 0 0;}

.ban-search-area .bs-box{ margin:0px;}
/*Banner*/

}

@media (min-width:641px) and (max-width:767px){
	/*top head*/	
header{ height:auto;}
header .logo-area { width:15%; max-width:252px; height:50px;}
header .top-search{ width:65%; min-height:50px; max-width:100%; line-height:45px; }
header .top-search .search-box .search-input{ height:50px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:16px; line-height:45px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:15px 0 0 0;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:left; width:100%;  border-top:#f0f0f0 1px solid;}

.topnav-area .navbar-nav li .currency-drop{ width:100%;}
.topnav-area .navbar-nav li .login-drop{width:100%; padding:15px;}
.topnav-area .navbar-collapse{ padding-right:15px;}
.topnav-area .navbar-nav li .dropdown-menu{ margin:0 0 15px 0; float:left;}

/*last drop down*/
.topnav-area .navbar-nav li.last-drop{ display:block;}
.mob-country-drop{ display:block; width:20%; float:right;}
.mob-country-drop ul{ float:right; margin:15px 0 0 0;}
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs{ width:100%;}

.desk-nav{ display:none; }
#new-nav{ display:block;}

/* CSS for only currency dropdown in top navigation */
.topnav-area .navbar-nav li.last-drop .country-drop{width:100%; left:0px; top:35px;  }
.mob-top-nav { display:block;}


/*last drop down*/

/*top head*/

/*Banner*/
.banner-area{ height:auto; padding:100px 0 15px 0;}
.banner-area .ban-txt{ margin:0px 0 0 0;}
.banner-area .ban-txt h1{ font-size:40px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:20px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
.ban-search-area{ margin:25px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:100%; margin:0 0 15px 0; height:auto; padding:10px 0;}
.ban-search-area ul.search-list li a span{ display:none !important;}

.bot-search ul.form-group li{ width:100% !important; float:none; margin:0 0 15px 0;}
.bot-search ul.form-group li .form-control{ height:auto; padding:10px 0 10px 10px; border:#a6a6a6 1px solid; border-radius:3px;}

#panel .topdrop-area{ padding:125px 0 25px 0;}
#panel .topdrop-area .td-box{ margin:0 0 30px 0; border-bottom:#202020 1px solid; padding:40px 0;}
#panel .topdrop-area .td-box-3{ border-bottom:0px; }
#panel .topdrop-area .td-box .td-img{ margin:0 auto 10px;}
#panel .topdrop-area a.td-more{ margin:0px auto 0;}

.ban-search-area .bs-box{ margin:0px;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li{ width:100%; }
.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:100%;}
.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:100%; margin:0 0 5px 0;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li{ width:100%; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li{ width:100%;}

.ban-search-area .bs-box .sr-area .top-filter-tab ul li.display-mob{ display:block; padding:10px 0;}
.sr-area-outer .st-head-txt .hide-mob{ display:none;}
/*Banner*/


}

@media (min-width:481px) and (max-width:640px){
/*top head*/	
header{ height:auto;}
header .logo-area { width:15%; max-width:252px; height:50px;}
header .top-search{ width:65%; min-height:50px;}
header .top-search .search-box .search-input{ height:50px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:13px; line-height:45px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:15px 0 0 0;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:left; width:100%;  border-top:#f0f0f0 1px solid;}

.topnav-area .navbar-nav li .currency-drop{ width:100%;}
.topnav-area .navbar-nav li .login-drop{width:100%; padding:15px;}
.topnav-area .navbar-collapse{ padding-right:15px;}
.topnav-area .navbar-nav li .dropdown-menu{ margin:0 0 15px 0; float:left;}

/*last drop down*/
.topnav-area .navbar-nav li.last-drop{ display:block;}
.mob-country-drop{ display:block; width:20%; float:right;}
.mob-country-drop ul{ float:right; margin:15px 0 0 0;}
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs{ width:100%;}

.desk-nav{ display:none; }
#new-nav{ display:block;}

/* CSS for only currency dropdown in top navigation */
.topnav-area .navbar-nav li.last-drop .country-drop{width:100%; left:0px; top:35px;  }
.mob-top-nav { display:block;}


/*last drop down*/


/*top head*/

/*Banner*/
.banner-area{ height:auto; padding:100px 0 75px 0;}
.banner-area .ban-txt{ margin:0px 0 0 0;}
.banner-area .ban-txt h1{ font-size:28px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:18px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
.ban-search-area{ margin:25px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:100%; margin:0 0 15px 0; height:auto; padding:10px 0;}
.ban-search-area ul.search-list li a span{ display:none !important;}

.bot-search ul.form-group li{ width:100% !important; float:none; margin:0 0 15px 0;}
.bot-search ul.form-group li .form-control{ height:auto; padding:10px 0 10px 10px; border:#a6a6a6 1px solid; border-radius:3px;}

#panel .topdrop-area{ padding:125px 0 25px 0;}
#panel .topdrop-area .td-box{ margin:0 0 20px 0; border-bottom:#202020 1px solid; padding:30px 0;}
#panel .topdrop-area .td-box-3{ border-bottom:0px; }
#panel .topdrop-area .td-box .td-img{ margin:0 auto 10px;}
#panel .topdrop-area a.td-more{ margin:0px auto 0;}

.ban-search-area .bs-box{ margin:0px;}
.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:100%; margin:0 0 5px 0;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li{ width:100%; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li{ width:100%;}

.ban-search-area .bs-box .sr-area .top-filter-tab ul li.display-mob{ display:block; padding:10px 0;}
.sr-area-outer .st-head-txt .hide-mob{ display:none;}

/*Banner*/

}

@media (min-width:320px) and (max-width:480px){
/*----top head----*/	
header{ height:auto;}
header .logo-area { width:20%; max-width:252px; height:50px;}
header .top-search{ width:60%;  min-height:50px;}
header .top-search .search-box .search-input{ height:50px; margin:0 0 0 10px; padding:0 0 0 25px; font-size:12px; line-height:45px;}
header .logo-area .desk-logo{ display:none;}
header .logo-area .mob-logo{ display:block;  text-align:center; width:100%; margin:15px 0 0 0;}
header.smaller { height:auto;}
header.smaller .logo-area{ height:45px;}
header.smaller .top-search{ min-height:45px;}
header.smaller .logo-area .mob-logo{ margin:10px 0 0 0;}
header .topnav-area .navbar{ float:left; width:100%;  border-top:#f0f0f0 1px solid;}

.topnav-area .navbar-nav li{ width:100%; clear:left;}
.topnav-area .navbar-nav li .currency-drop{ width:100%;}
.topnav-area .navbar-nav li .login-drop{width:100%; padding:15px;}
.topnav-area .navbar-collapse{ padding-right:15px;}
.topnav-area .navbar-nav li .dropdown-menu{ margin:0 0 15px 0; float:left; overflow-y:scroll;}

/*last drop down*/
.topnav-area .navbar-nav li.last-drop{ display:block;}
.mob-country-drop{ display:block; width:20%; float:right;}
.mob-country-drop ul{ float:right; margin:15px 0 0 0;}
.mob-country-drop ul li.last-drop .country-drop ul.nav-tabs{ width:100%;}

.desk-nav{ display:none; }
#new-nav{ display:block;}

/* CSS for only currency dropdown in top navigation */
.topnav-area .navbar-nav li.last-drop .country-drop{width:100%; left:0px; top:35px;  }
.mob-top-nav { display:block;}

/* CSS for only currency dropdown in top navigation */

/*last drop down*/


/*--top head---*/
	
/*Banner*/
.banner-area{  padding:100px 0 55px 0;}
.banner-area .ban-txt{ margin:0px 0 0 0;}
.banner-area .ban-txt h1{ font-size:28px; text-shadow:#000000 0.1px 0.5px 0.1px ;}
.banner-area .ban-txt p{font-size:16px; padding:0px 0 0 0;}
.banner-area .ban-txt .hworks{  font-size:16px; margin:25px auto 0;}
.ban-search-area{ margin:25px 0 0 0; }
.ban-search-area .bs-box .top-srch .ts-lft{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt{ max-width:100%;}
.ban-search-area .bs-box .top-srch .ts-rgt p{ padding:15px 0 0 0;}
.ban-search-area ul.search-list{ width:100%; float:left;}
.ban-search-area ul.search-list li{ width:100%; margin:0 0 15px 0; height:auto; padding:10px 0;}
.ban-search-area ul.search-list li a span{ display:none !important;}

.bot-search ul.form-group li{ width:100% !important; float:none; margin:0 0 15px 0;}
.bot-search ul.form-group li .form-control{ height:auto; padding:10px 0 10px 10px; border:#a6a6a6 1px solid; border-radius:3px;}

#panel .topdrop-area{ padding:125px 0 25px 0;}
#panel .topdrop-area .td-box{ margin:0 0 10px 0; border-bottom:#202020 1px solid; padding:20px 0;}
#panel .topdrop-area .td-box-3{ border-bottom:0px; }
#panel .topdrop-area .td-box .td-img{ margin:0 auto 10px;}
#panel .topdrop-area a.td-more{ margin:0px auto 0;}
/*Banner*/


.ban-search-area .bs-box{ margin:0px;}
.ban-search-area .bs-box .sr-area .top-filter-tab ul li{ width:100%; margin:0 0 5px 0;}
.ban-search-area .bs-box .search-bot-area ul.sb-list li{ width:100%; }
.ban-search-area .bs-box .search-bot-area .sb-area ul li{ width:100%;}
.ban-search-area .bs-box .search-bot-area .sb-area ul li .md-size ul li a b{ font-size:14px;}

.ban-search-area .bs-box .sr-area .top-filter-tab ul li.display-mob{ display:block; padding:10px 0;}
.sr-area-outer .st-head-txt .hide-mob{ display:none;}

}




