@charset "utf-8";
/* CSS Document */

.safety-page .fun-news .fn-bot { float: left; margin: 0px 0 0; width: 100%;}
.safety-page {background:#fff !important;}

/*Banner inner pages starts*/
.safety-page .banner-area-terms {background:url(../../img/safety.png) repeat; background-position:center; height:350px;  width:100%; margin-top:75px;}
.safety-page .banner-area-terms h3 {text-align:center; color:#fff; font-size:30px; padding-top:106px;  padding-bottom:35px;}
.safety-page .banner-area-terms p {text-align:center; color:#fff; font-size:14px; line-height:25px; }

/*Banner inner pages ends*/

#safety{ width:100%; float:left; margin:50px 0 0 0; padding:0 0 15px 0;}

#safety h2 {font-size:30px; color:#404040; font-weight:400; font-family: 'Raleway', sans-serif;}
#safety .top-pad { padding:50px 0 15px 0;}
#safety p {font-size:14px; color:#404040; font-family: 'Raleway', sans-serif; line-height:26px; margin:0 0 30px 0;}
#safety .premium { background:#EDF2F6; padding:30px 30px 30px 30px; margin:0 0 30px 0;}
#safety .reviews{ margin:30px 0 0 0;}
#safety .premium h1 { font-size:45px; color:#2c6891; font-family: 'Raleway', sans-serif; line-height:26px; font-weight:600; padding:15px 0 15px 0; margin:0px; }
#safety .premium h1 span img{ width:45px; height:45px; margin:-5px 15px 0 0;}
#safety .premium .dog{ width:100%; text-align:center;}
#safety .premium p { font-size:14px; color:#2b6790; font-family: 'Raleway', sans-serif; line-height:26px;  }
#safety .premium p span{ display:block; margin:15px 0 0 0;}
#safety .premium .picons{ text-align:center !important; padding:30px 0 0 0; }
#safety .premium .picons p{ text-align:center; padding:5px 0 0 0;}

#safety h3 {font-size:22px; color:#404040; font-family: 'Raleway', sans-serif; padding:30px 0 15px 0; }
#safety ul {padding-top:35px;}
#safety ul li {background: rgba(0, 0, 0, 0) url("../../img/s-arrow.png") no-repeat scroll left top; height: auto; line-height: 14px; margin-top: 25px;padding-left: 25px;padding-top: 0;width: 100%;}
#safety .dog-banner {background:url(../../img/s-dog-banner.png) no-repeat; background-position:center; width:100%; height:auto; margin:30px 0 0 0; height:300px; display:table-cell; vertical-align:middle; margin:0 0 30px 0;}
#safety  .dog-banner h1 { font-size:70px; color:#fff; font-weight:normal; padding:0 100px;}


@media (min-width:992px) and (max-width:1199px) {
#safety .premium h1 { font-size:36px; color:#2c6891; font-family: 'Raleway', sans-serif; line-height:26px; font-weight:600; padding-top:60px; padding-bottom:30px; }
}

@media (min-width:768px) and (max-width:991px) {
#safety .premium h1 { font-size:42px; color:#2c6891; font-family: 'Raleway', sans-serif; line-height:26px; font-weight:600; padding-top:60px; padding-bottom:30px; }
#safety  .dog-banner h1 { font-size:45px !important; color:#fff; padding-top:170px; font-weight:300 !important; padding-bottom:190px;}
}


@media (min-width:768px) and (max-width:991px) {
#safety{  margin:15px 0 0 0; padding:0 0 15px 0;}
#safety p{ padding:0;}
#safety .dog-banner{ height:auto; padding:50px 0;}
#safety .dog-banner h1{ padding:0 15px; font-size:45px;}	
	
#safety .premium h1 { font-size: 30px; padding:0 0 10px 0;}
#safety .premium h1 span img {height: 30px; margin: -5px 5px 0 0; width:30px;}
#safety .premium p span{ display:inline; margin:0px;}
#safety .premium .dog{ text-align:center; width:100%; margin:35px 0 20px 0; }
#safety .premium .dog img{ width:250px; height:250px; }
}

@media (min-width:641px) and (max-width:767px) {

#safety{  margin:15px 0 0 0; padding:0 0 15px 0;}
#safety p{ padding:0;}
#safety .dog-banner{ height:auto; padding:50px 0;}
#safety .dog-banner h1{ padding:0 15px; font-size:45px;}

#safety .premium h1 { font-size: 30px; padding:0 0 10px 0;}
#safety .premium h1 span img {height: 30px; margin: -5px 5px 0 0; width:30px;}
#safety .premium p span{ display:inline; margin:0px;}
#safety .premium .dog{ text-align:center; width:100%; margin:35px 0 20px 0; }
#safety .premium .dog img{ width:250px; height:250px; }
}

@media (min-width:481px) and (max-width:640px) {
#safety{  margin:15px 0 0 0; padding:0 0 15px 0;}
#safety p{ padding:0;}
#safety .dog-banner{ height:auto; padding:50px 0;}
#safety .dog-banner h1{ padding:0 15px; font-size:35px;}

#safety .premium{ padding:15px; margin:0 0 15px 0;}	
#safety .premium h1 { font-size: 20px; padding:0 0 10px 0;}
#safety .premium h1 span img {height: 25px; margin: -5px 5px 0 0; width: 25px;}
#safety .premium p span{ display:inline; margin:0px;}
#safety .premium .dog{ text-align:center; width:100%; margin:35px 0 20px 0; }
#safety .premium .dog img{ width:200px; height:200px; }
}


@media (min-width:320px) and (max-width:480px) {
#safety{  margin:15px 0 0 0; padding:0 0 15px 0;}
#safety p{ padding:0;}
#safety .dog-banner{ height:auto; padding:25px 0;}
#safety .dog-banner h1{ padding:0 15px; font-size:20px;}

#safety .premium{ padding:15px; margin:0 0 15px 0;}	
#safety .premium h1 { font-size: 14px; padding:0 0 10px 0;}
#safety .premium h1 span img {height: 20px; margin: -5px 5px 0 0; width: 20px;}
#safety .premium p span{ display:inline; margin:0px;}
#safety .premium .dog{ text-align:center; width:100%; margin:35px 0 0 0; }
#safety .premium .dog img{ width:150px; height:150px;}
}

