/****signup***/
.innerpage-conent { float: left; margin-top: 75px; width: 100%; }
.signup-container {border: 1px solid #adadad; width: 100%; margin:70px 0; border-radius: 2px; text-align: center; background: #fff;}
.signup-container h2 {font-size:18px; color:#404040; padding:18px 0; text-align: center; font-weight: 300;border-bottom: 1px solid #adadad; }
.signup-container div {text-align: center;}
.signup-container a:hover { text-decoration: none; }
.signup-container a { font-size: 16px; background: #f1f1f1;}
.signup-email a {border: 1px solid #dddddd;  border-radius:2px; color:#404040;display: inline-block; max-width:400px; padding:15px; width:100%; margin:50px 0 25px 0; background:#f5f5f5;}
.signup-facebook a:hover {color: #fff;}
.signup-facebook a{ border: 1px solid #4063b3; border-radius: 2px; color: #fff; display: inline-block;max-width: 400px; padding: 15px; width: 100%; background: #4063b3; margin:35px 0 0 0;}
.signup-container i {margin-right: 12px;}
.signup-container p {color: #404040; font-size:12px; margin:25px 0 30px 0;}
span.signup-line { border-bottom: 1px solid #cccccc; display: inline-block;  padding:0 0 45px 0;  }
.signup-color {	color: #1277bb; }
.signup-color a, .signup-color a:hover, .signup-color a:focus  { color: #1277bb; background: none; }

.head-font {font-size:26px; font-weight:400; color:#434343;}
.head-font2 {font-size:20px; color:#434343; font-weight:400;}
.pad-head-foot {padding-top:12px;}
.pad-head-foot-bot { padding-bottom:22px;}
.ma2 { margin:4px 5px 0 0px !important; position:relative !important; top:0px !important;}
.title-head {font-size: 17px;  font-weight: 400;  padding: 15px 0;}	
.color-green-text {color: #72a105; font-size:13px;}
.h32 {height:32px !important;}
.f17 {font-size:17px; }
.f14 {font-size:14px;}
.f22 {font-size:22px;}
.mt10 {margin-top:10px;}
.mb10 { margin-bottom:12px;}f
.mb0 {margin-bottom:0px !important;}
.mb2 {margin-bottom:2px !important;}
.color-green {color:#72a105 !important;}
.rules_main input[type="number"] { border: 1px solid #d5d5d5;  border-radius: 2px;  padding: 3px;   width: 100%;}

.extend .e-inner{ border:#aaaaaa 1px solid;  border-radius:3px;}
.extend .e-inner label.pp-w{ padding:10px 0 10px 10px; border-bottom:#aaaaaa 1px solid; width:100%; background:#f5f5f5;}
.extend .e-inner .m-rights{ margin:0px; padding:0 0 10px 10px;}
.extend .e-inner .m-rights label{ margin:0 10px 0 0;}

/****sigin***/ 
.tab-sectioninner h3 span.hed-0 { border-bottom: 2px solid #59A8E1;   color: #59A8E1;    font-style: italic;}
.tab-sectioninner h3 span.hed-0.coh2 {border-bottom: 2px solid #72A105;   color: #72A105;   }
.tab-sectioninner h3 span.hed-0.coh1  {border-bottom: 2px solid #FFAC04;    color: #FFAC04;}

.signup-container form { margin: 0px auto;  max-width:575px;  padding:0 15px;    width: 100%;}

.signup-container form label {  font-family: raleway;    font-size:13px;    font-weight: normal;    text-align: left;    width: 100%;    margin-bottom: 15px;}
.signup-container form button {    background: #72a105 none repeat scroll 0 0;    border: 1px solid #72a105;    border-radius: 2px;    color: #fff;    font-size: 16px;    padding: 13px 0;    width: 100%;}
a.signup-fb {  background: #4063b3;    border: 1px solid #4063b3;    border-radius: 2px;    color: #fff;    font-size: 16px;    padding: 13px 0;    width: 100%;    display: inline-block;}
a.signup-fb:hover { color: #fff;}
.line-signin {  border-bottom: 1px solid #ccc;    padding-bottom: 45px;}
.signup-container form button:hover {background:#72a105 ; color: #fff;}
.signup-container input.form-control{height: 41px; border-radius: 2px; border: 1px solid #aaaaaa; box-shadow: none; background:#ffffff;}
.signin-wrapper select {height: 47px; border-radius: 2px; border: 1px solid #aaaaaa; box-shadow: none;
-webkit-appearance: none;   -moz-appearance:    none;   appearance:         none;   background: #fff url("../../img/arw.png") no-repeat scroll right 10px center;}
select {-webkit-appearance: none;}
.signup-container p.line-signin { border-bottom: medium none; border-top: 1px solid #ccc;  padding:45px 0 0 0;}
.c-red {color: #d61a1a; font-size:13px;}
.c-red a, .c-red a:hover, .c-red a:focus {color: #d61a1a; font-size:13px; background: none;}

.signup-container #login_user{ margin:35px  auto;}

.form-group.radio span { float: left;  margin: 0 20px 10px 0;}
.form-part div.form-group { float:left;  width: 48%;}
.dobDiv .text{ width:80%; float:left; }
.dobDiv  .cal-box{ width:19%; border:#aaaaaa 1px solid; float:left; line-height:41px; height:41px; border-left:0px;}
.dobDiv .fa{ margin-right:0px;}
.form-part div.form-group:nth-child(2) {  float: right;	margin-left: 9px !important;}
p.cap {    float: left;  margin: 0 0 15px;    width: 100%;}
p.cap span {    float: left;    text-align: right;    width: 50%;}
.cap-img img {    border: 1px solid #aaaaaa;    border-radius: 2px;    width: 100%;    min-height: 47px;}
.cap-sr i {    background: #fff;    border: 1px solid #aaaaaa;    border-radius: 2px;    color: #a7a7a7;    font-size: 24px;    margin: 0 10px;    padding: 9px 10px;    text-align: center;}
p.cap span {    float: left;    text-align: right;    width: 50%;}

.profiletab-section ul li.active::after {content: "";position: absolute;bottom: -13px;left: 0;right: 0;margin: auto; border-width: 15px 15px 0; border-style: solid;border-color: #7eae10 transparent; display: block;width: 0;}

.profiletab-section ul li.gen:hover, .profiletab-section ul li.gen a:hover { background-color:#59a8e1 !important; }
.profiletab-section ul li.gen:focus { background-color:#59a8e1 !important; }
.profiletab-section ul li.gen a:focus { background-color:#59a8e1 !important; }
.profiletab-section ul li.active.gen::after {border-color: #59a8e1 transparent; }
.profiletab-section ul li.active.gen a{ background-color:#59a8e1 !important; }
.profiletab-section ul li.active.gen { background-color:#59a8e1 !important; }

.profiletab-section ul li.active.hou::after { border-color: #FFAD03 transparent;}
.profiletab-section ul li.active.hou a{ background-color:#FFAD03 !important; }
.profiletab-section ul li.active.hou { background-color:#FFAD03 !important; }
.profiletab-section ul li.hou:hover, .profiletab-section ul li.hou a:hover { background-color:#FFAD03 !important; }
.profiletab-section ul li.hou:focus, .profiletab-section ul li.hou a:hover { background-color:#FFAD03 !important; }
.profiletab-section ul li.hou a:focus { background-color:#FFAD03 !important; }
.profiletab-section ul li.active.hou {background-color:#FFAD03 !important;}

.profiletab-section ul li.active.sitt::after { border-color: #72A105 transparent;}
.profiletab-section ul li.active.sitt a{ background-color:#72A105 !important; }
.profiletab-section ul li.active.sitt { background-color:#72A105; }

.profiletab-section ul li.sitt:hover, .profiletab-section ul li.sitt a:hover { background-color:#72A105 !important;}
.profiletab-section ul li.sitt:focus { background-color:#72A105 !important;}
.profiletab-section ul li.sitt a:focus { background-color:#72A105 !important;}
.profiletab-section ul li.active.sitt {background-color:#72A105;}



.profiletab-section ul li.active.mid::after { border-color: #195F30 transparent;}
.profiletab-section ul li.active.mid a{ background-color:#195F30 !important; }
.profiletab-section ul li.active.mid { background-color:#195F30; }

.profiletab-section ul li.mid:hover, .profiletab-section ul li.mid a:hover { background-color:#195F30 !important;}
.profiletab-section ul li.mid:focus { background-color:#195F30 !important;}
.profiletab-section ul li.mid a:focus { background-color:#195F30 !important;}
.profiletab-section ul li.active.mid {background-color:#195F30;}



.profiletab-section ul li.active.proa::after { border-color: #E17F59 transparent;}
.profiletab-section ul li.active.proa a{ background-color:#E17F59; }
.profiletab-section ul li.active.proa { background-color:#E17F59; }

.profiletab-section ul li.proa:hover, .profiletab-section ul li.proa a:hover { background-color:#E17F59 !important; }
.profiletab-section ul li.proa:focus { background-color:#E17F59 !important; }
.profiletab-section ul li.proa a:focus { background-color:#E17F59 !important; }
.profiletab-section ul li.active.serv::after { border-color: #E159A6 transparent;}
.profiletab-section ul li.active.serv a{ background-color:#E159A6 !important; }
.profiletab-section ul li.active.serv { background-color:#E159A6; }

.profiletab-section ul li.serv:hover, .profiletab-section ul li.serv a:hover { background-color:#E159A6 !important;}
.profiletab-section ul li.serv a:focus { background-color:#E159A6 !important;}
.profiletab-section ul li.serv:focus { background-color:#E159A6 !important;}
.profiletab-section .form-control.mzero {margin: 0;}
.profiletab-section ul li { display: table-cell;    text-align: center;  float:none;	border-right: 1px solid #fff;    width: 20%;    vertical-align: middle;}
.profiletab-section ul.six-tab li { width:16.66%; }
.profiletab-section ul.three-tab li{ width:33.33%; }
.profiletab-section ul li a {border-radius: 0;  padding:13px 0; color:#fff;font-size:14px;    letter-spacing: 1px;      }
.profiletab-section ul {  display: table;    width: 100%;  background: #969696 none repeat scroll 0 0; margin:20px 0 0 0; float:left;}

.tab-sectioninner { background: #fff;   padding-top: 14px; width:100%; float: left;    min-height: 850px;}
.profiletab-section ul.nav li img{margin-right: 10px;}
.tab-content h3 { margin:10px 0 0 0;}
.tab-sectioninner .tab-comm { padding:0px; background:#fff; width:100%; float: left;}
/* Tab Comm heading Start */
.tab-sectioninner .tab-comm .tc-head{ background:#ebf7ff; width:100%; float:left; padding:15px; margin:15px 0 30px 0; border-radius:3px;}
.tab-sectioninner .tab-comm .tc-head-2{ background:#fffaf0;}
.tab-sectioninner .tab-comm .tc-head-3{ background:#edfff3;}
.tab-sectioninner .tab-comm .tc-head-4{ background:#f7ffe3;}
.tab-sectioninner .tab-comm .tc-head-5{ background:#ffe7de;}
.tab-sectioninner .tab-comm .tc-head-6{ background:#ffeff8;}
.tab-sectioninner .tab-comm .tc-head h2{ font-size:16px; color:#404040; padding:0 0 10px 0;}
.tab-sectioninner .tab-comm .tc-head p{ font-size:13px; color:#404040; line-height:18px; }
/* Tab Comm heading End */

.tab-sectioninner h3 {border-bottom: 1px solid #d1d1d1;    color: #404040;    font-size: 18px;    margin-bottom: 20px;    position: relative;    padding-bottom: 15px;    width: 100%;    float: left;}
.tab-sectioninner h3 span {color:#7cab0d; }
.tab-sectioninner label {font-weight: normal;    margin-bottom: 10px;    font-style: 16px;    color: #222d3d;}

.tab-sectioninner input.form-control {    border-radius: 3px;    box-shadow: none;    height: 40px;    margin-bottom: 0;      border: 1px solid #aaaaaa; background:#ffffff; font-size:13px; color:#404040;}
.tab-sectioninner select.form-control {    -moz-appearance: none;    background-image: url("../../img/arw.png");background-position: right 15px center; background-repeat: no-repeat; border-radius: 3px; box-shadow: none;   height: 40px;   border: 1px solid #aaaaaa;      background-position-x: 97%; background-position-y: 50%;}
.tab-content textarea{ border-radius: 3px; box-shadow:none; height:46px; margin-bottom:15px; min-height:100px; width:100%; border: 1px solid #aaaaaa;    font-size: 12px;    font-style: italic; padding: 5px;    resize: none;}
.upload-side {  margin-left: -20px;    margin-top: 2px;    display: none !important;}
.btn.Continue { background: #83b314;    border: 1px solid #83b314;    border-radius: 3px;    color: #fff;    font-size: 18px; padding: 6px 34px;}
.brow-inner button { position:absolute;   right:3px;    top: 3px;    background: #d2d2d2;    border: 1px solid #bcbcbc; }
.brow-inner { position: relative;}
#menu3 h3 { color: #434343;    font-size: 17px;}
#menu3 h3 small {color: #72a105;    font-size: 14px;    margin-left: 5px;}
p.browse-p { font-size: 16px;    font-weight: bold;}
.sp-tb { margin-top: 30px;    margin-bottom: 30px;}
.btn.previous { background: transparent none repeat scroll 0 0;   border: 1px solid #83b314;    border-radius: 3px;    color: #83b314;    font-size: 18px;    margin-right: 20px;    padding: 6px 34px;}
.emp-mobile { height: 32px;}
.btn.Continue:hover { border: 1px solid #83b314;    background: transparent;    color:#83b314; }
.tab-sectioninner h3::before {   border-top: 1px solid #7cab0d;    bottom: -1px;    content: "";    position: absolute;    right: 0;    width: 10%;}
.text-italic input {font-size: 13px;    font-style: italic;}
.radio-center span { margin-right: 30%;}
#menu2 p {    width: 100%;   /* float: left;*/}
.upload-section img {   background: #fff none repeat scroll 0 0;    border: 1px solid #aaaaaa;    padding: 20px;    float: left;    margin-right: 10px;}
.upload-section span {   color: #929191;    float: left;    font-size: 12px;    font-style: italic; }
.btn.upload-but {  background: #72a105;    border-radius: 0;    color: #fff;   margin-top: 12px;    padding: 6px 24px;}
.tab-sectioninner h4 { color: #434343;    font-size: 18px;    margin-bottom: 20px;}
.tab-sectioninner h5 {    color: #7cab0d;    font-size: 14px;    margin-bottom: 10px;}

/* Upload Image Area */
.upload-img-area { width:100%; float:left; border:#dcdcdc 1px solid; padding:15px 0; }
.upload-img-area  p.browse-p { font-size:14px; font-weight: bold; border-bottom:#dcdcdc 1px solid; padding:0 0 10px 0;}

/* Upload Image Area */



.profiletab-section .tab-content h3 { color: #222d3d;  font-size: 15px;    margin-top: 0;    text-transform: capitalize;}
.rules_main .row:first-child {    margin-top: 0;}
.rules_main .row {    margin-top: 10px;}
.rules_main {    background: #f5f5f5 none repeat scroll 0 0;    border: 1px solid #cfd0d0;    float: left;    padding: 10px;    width: 100%;}
.rules_main input[type="text"] {    border: 1px solid #d5d5d5;    border-radius: 2px;    padding: 3px;    width: 100%;}
.profiletab-section .tab-content #menu4 h3 {    font-size: 16px;}
.range-c img {    width: 80%;}
#menu3 h3 {    margin-top: 0;}
#menu3 h3:first-child {   margin-top: 10px;}
.add-more-n {    background: #eceaea none repeat scroll 0 0;    border: 1px solid #c0c1c1;    border-radius: 3px;    padding: 10px 20px; cursor:pointer;}
.add-more-n i {    color: #000;    margin-left: 0;    margin-right: 5px;}
.tab-sectioninner h3 span.add-more-n {    color: #000;    font-size: 15px;}

.add-more-expand {    background: #f3f3f3 none repeat scroll 0 0;    border: 1px solid #aaaaaa;    float: left;    margin-bottom: 25px;    padding: 20px;    width: 100%;}
.add-more-div {    float: left;    width: 100%;}
.add-more-expand i {    color: #a3a3a3;    font-size: 20px;}
#one .radio-center span {    margin-right: 15%;}
.sitter-profile {    background: #eee;}
.profiletab-section h3 img {    margin-right: 10px;}
.m-rights {    margin-right: 20px;}
.previous i {    font-size: 13px;    margin-right: 9px;}
.sitter-gal {    position: relative;}
.sitter-gal > img {    border: 1px solid #949494;    border-radius: 2px;    position: relative;    width: 100%;    margin-bottom: 17px;}
.sitter-gal a {    position: absolute;    right: -2px;    top: -7px;    z-index:250;}
.sitter-gal a i {    color: #ff4f4f;    font-size: 17px;}
.browse-p {    margin-bottom: 25px;}
.browse-p button {    background-color: #83b314;    border: 1px solid #83b314;    margin-left: 30px;}

.radio-main .custom-checkbox {  background: rgba(0, 0, 0, 0) url("../../img/radio1.png") no-repeat scroll 0 0; display: inline-block;  height: 21px; position: relative; top: -1px; vertical-align: middle;  width: 23px;
    z-index: 1;    margin-right: 10px;}

.radio-main .custom-checkbox.selected { background: rgba(0, 0, 0, 0) url("../../img/radio-h.png") no-repeat scroll 0 0;}
.radio-main .custom-checkbox input[type="checkbox"] { cursor: pointer;    margin: 0;    opacity: 0;    outline: medium none;    position: absolute;    z-index: 2;}
.top-sh { margin-top: 20px;}
.tab-sectioninner #menu4 select {font-style: italic;}
.radio-main label { display: block;    padding: 2px 0;    margin-bottom: 0;}
.radio-main input[type="submit"] { background: #f2f2f2 none repeat scroll 0 0; border: 1px solid #cccccc; border-radius: 4px; cursor: pointer; float: left; margin-top: 20px; outline: medium none; padding: 4px 10px;}
.radio-main input[type="submit"]:hover { background-color: #239fdb;    border-color: #1b7aa9; color: #fff;}
.tab-sectioninner #menu4 h4 { color: #72a105;  font-size: 14px;}
.profiletab-section h3 { font-size: 20px;  margin:0px 0 30px 0;}
.captcha img { float: right; width: 50%; margin-top: 10px;}
.range-c small {  margin-top: 3px;}
.img-rightsp img {    margin-left: 15px;}
.chek-main-lat {    float: right;    position: relative;}
#menu3 h3 {margin-top: 10px;}
.la1 {  margin-top: 30px;}
.la33 {    margin-right: 10px;}
select.padd-difff {    padding-left: 0;    padding-right: 5px;}
.tab-sectioninner select.padd-difff.form-control {    background-position: right 5px center;}
.tab-sectioninner select.form-control.mmm {background: none;  min-height: 70px;}
.videoo {   margin-bottom: 20px;}
.d-m2 img {    border: 1px solid #eeeeee;    padding: 15px 20px;}
.d-m2 button {   margin-top: 20px; margin-bottom: 10px;}
video.videoo {    width: 100%;}
.m-space-not {  min-height: auto;}
.d-m2 div > iframe {  border: none; border-radius: 5px; width:100%}
.d-m2 {    margin-bottom: 20px;}
.padding-zero-left {    padding-left: 0 !important;}
.invisi-no {    opacity: 0;    visibility: visible; }
.close11 { height: 16px; margin-left: 5px; width: 16px;}
.d-m2 img.close11 { border: medium none; padding: 0;}
p.min-hh {  min-height: 85px;}
p.sub-title small {    color: #72a105; display: block; font-size: 13px; font-weight: 500; margin-left: 29px; margin-top: 10px;}
.cir-o { background: #434360 none repeat scroll 0 0; border-radius: 50%; color: #fff; padding: 3px;}
i.cir-o { font-size: 14px; height: 18px; text-align: center; width: 18px; margin-right: 10px;}
.right-width {   z-index: 900;}
.word-limit textarea {   margin-bottom: 0;}
.w-limit {    text-align: right;}

.captcha {width:100%;}
.pull-right.m-rights > label {    padding: 0 7px;}
.pull-right.m-rights > label input[type="radio"] {    line-height: normal;    margin: 3px 4px 0;}


.rate-drop-area{ width:100%; float:left;  margin:30px 0; padding:10px 0;}
.rate-drop-area .drop-arrow{ width:100%; float:left;}
.rate-drop-area .drop-arrow a{ width:25px; height:25px; display:block; border-radius:50%;}
.rate-drop-area .drop-arrow a .fa{ color:#e1e0e0; font-size:30px; }
.rate-drop-area .drop-cont{ margin:15px 0 0 0;}
#ui-id-1{ z-index:10;}

/***** media start *****/

@media screen and (min-width: 1920px) {
.rules_main {  height: 100%;    min-height: 86px;}
}

@media screen and (max-width: 1842px) {
.rules_main br {display: none;}

}

@media screen and (max-width: 1775px){

.rules_main img { max-width: 80px; width: 100%;}
}

@media screen and (max-width: 1482px) {
.rules_main br {display: block;}
.rules_main { height: 100%; min-height: 95px;}
p.min-hh { min-height: 120px;}
}

@media screen and (max-width: 1500px) {
.m-space-not {min-height: 40px;}
}

@media screen and (max-width:1350px) {
.radio-center span {margin-right:0;}
   
}

@media screen and (max-width:1199px) {

.upload-side {float: right; margin-left: 0;}

.rules_main img {float: right;}
.num { text-align: right;}
.rules_main{min-height: auto;}
}
    


@media screen and (max-width:991px) {
.rules_main input[type="text"] {margin-top: 10px;}

}

@media screen and (max-width:580px) {
.profiletab-section ul li {display:block;}
 p.min-hh {min-height: auto;}
 .rate-drop-area{ margin:15px 0;}
 .rate-drop-area .drop-arrow a{ margin:15px auto 0;}
	
}

@media screen and (max-width:437px) {
.btn.previous {margin-right:0; width:100%; display:block;}
.btn.Continue {width:100%;}
.rules_main img {width: auto;}
.sp-tb .btn.previous {margin-bottom: 10px;}
	
}

@media screen and (max-width:370px) {
.full-width11 {width: 100% !important;}
}

.signup-container .icon-input #users-email { background: #fff url("../../img/signup-e-icon.png") no-repeat left 10px center; padding: 0 0 0 30px;}

.signup-container .icon-input #users-password {background: #fff url("../../img/signup-p-icon.png") no-repeat left 10px center; padding: 0 0 0 30px;}
input:-webkit-autofill{background-color:#ffffff !important;}

input:-webkit-autofill {   border: 1px solid #ccc;  -webkit-box-shadow: inset 0 0 0px 9999px white;}

.signup-container .form-part ul { margin:0px; padding:0px; list-style-type:none; width:100%; clear:left;}
.signup-container .form-part ul li{ width:50%; float:left; }
.signup-container .form-part ul li .form-group{ width:97%;}

.signup-container .form-part ul li #users-country{ height:47px;}

@media (min-width:1441px) and (max-width:1580px){
.profiletab-section ul.nav li img { width:18px; height:18px;}
.profiletab-section ul li a {  font-size: 14px; }
}

@media (min-width:1367px) and (max-width:1440px){
.profiletab-section ul.nav li img { width:18px; height:18px;}
.profiletab-section ul li a {  font-size: 13px;}
}
@media (min-width:1200px) and (max-width:1366px){
.profiletab-section ul.nav li img { width:18px; height:18px;}
.profiletab-section ul li a {  font-size: 13px; padding:5px 0;}
}

@media (min-width:1025px) and (max-width:1199px){
.profiletab-section ul.nav li img { width:15px; height:15px;}
.profiletab-section ul li a{ line-height:16px; padding:7px 0; font-size:13px;}
}

@media (min-width:992px) and (max-width:1024px){
.profiletab-section ul li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left; border:#ffffff 1px solid;}
.profiletab-section ul li a{ padding:10px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul li.active::after{ border:0px; }

.profiletab-section ul.six-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left;border-bottom:#ffffff 1px solid; }
.profiletab-section ul.six-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul.six-tab li.active::after{ border:0px; }


.signup-container{ margin:41px 0 15px 0;}
.signup-container h2 {font-size:14px;}
.signup-email, .signup-facebook{ padding:0 15px; }
.signup-email a {margin:15px 0px;}
.signup-facebook a{ padding: 15px; width: 100%; background: #4063b3; margin:15px 0 0 0;}
span.signup-line{ padding:0 0 15px 0;}
.signup-container p { margin:15px 0;}
.signup-container form label { font-size:13px; margin-bottom:10px;}
.signup-container form .form-group{ margin:0 0 10px 0;}
.signup-container #login_user{ margin:15px  auto;}
.signup-container p.line-signin { padding:15px 0 0 0;}


}

@media (min-width:768px) and (max-width:991px){
.profiletab-section ul li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left; border:#ffffff 1px solid;}
.profiletab-section ul li a{ padding:10px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul li.active::after{ border:0px; }

.profiletab-section ul.six-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left;border:#ffffff 1px solid; }
.profiletab-section ul.six-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul.six-tab li.active::after{ border:0px; }

.signup-container{ margin:41px 0 15px 0;}
.signup-container h2 {font-size:14px;}
.signup-email, .signup-facebook{ padding:0 15px; }
.signup-email a {margin:15px 0px;}
.signup-facebook a{ padding: 15px; width: 100%; background: #4063b3; margin:15px 0 0 0;}
span.signup-line{ padding:0 0 15px 0;}
.signup-container p { margin:15px 0;}
.signup-container form label { font-size:13px; margin-bottom:10px;}
.signup-container form .form-group{ margin:0 0 10px 0;}
.signup-container #login_user{ margin:15px  auto;}
.signup-container p.line-signin { padding:15px 0 0 0;}


}

@media (min-width:641px) and (max-width:767px){
.profiletab-section ul li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left; border:#ffffff 1px solid;}
.profiletab-section ul li a{ padding:10px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul li.active::after{ border:0px; }

.profiletab-section ul.six-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left;border:#ffffff 1px solid; }
.profiletab-section ul.six-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul.six-tab li.active::after{ border:0px; }

.invisi-no { display:none; }

.signup-container{ margin:41px 0 15px 0;}
.signup-container h2 {font-size:14px;}
.signup-email, .signup-facebook{ padding:0 15px; }
.signup-email a {margin:15px 0px;}
.signup-facebook a{ padding: 15px; width: 100%; background: #4063b3; margin:15px 0 0 0;}
span.signup-line{ padding:0 0 15px 0;}
.signup-container p { margin:15px 0;}
.signup-container form label { font-size:13px; margin-bottom:10px;}
.signup-container form .form-group{ margin:0 0 10px 0;}
.signup-container #login_user{ margin:15px  auto;}
.signup-container p.line-signin { padding:15px 0 0 0;}

}

@media (min-width:481px) and (max-width:640px){
.profiletab-section ul li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left; border:#ffffff 1px solid;}
.profiletab-section ul li a{ padding:10px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul li.active::after{ border:0px; }

.profiletab-section ul.six-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:50%; float:left;border:#ffffff 1px solid; }
.profiletab-section ul.six-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.six-tab li.active::after{ border:0px; }	
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul.three-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:100%; float:left;border:#ffffff 1px solid; }
.profiletab-section ul.three-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.three-tab li.active::after{ border:0px; }	

.invisi-no { display:none; }

.signup-container{ margin:41px 0 15px 0;}
.signup-container h2 {font-size:14px;}
.signup-email, .signup-facebook{ padding:0 15px; }
.signup-email a {margin:15px 0px;}
.signup-facebook a{ padding: 15px; width: 100%; background: #4063b3; margin:15px 0 0 0;}
span.signup-line{ padding:0 0 15px 0;}
.signup-container p { margin:15px 0;}
.signup-container form label { font-size:13px; margin-bottom:10px;}
.signup-container form .form-group{ margin:0 0 10px 0;}
.signup-container #login_user{ margin:15px  auto;}
.signup-container p.line-signin { padding:15px 0 0 0;}


	
}

@media (min-width:320px) and (max-width:480px){
.profiletab-section ul li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:100%; float:left;border-bottom:#ffffff 1px solid; }
.profiletab-section ul li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.nav li img{ display:none;}
.profiletab-section ul li.active::after{ border:0px; }


.profiletab-section ul.six-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:100%; float:left;border-bottom:#ffffff 1px solid; }
.profiletab-section ul.six-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.six-tab li.active::after{ border:0px; }		
.profiletab-section ul.nav li img{ display:none;}

.profiletab-section ul.three-tab li { display:inline-block; border:0px; margin:0px; padding:0px 0; width:100%; float:left;border-bottom:#ffffff 1px solid; }
.profiletab-section ul.three-tab li a{ padding:8px 0; margin:0px; display:block;}  
.profiletab-section ul.three-tab li.active::after{ border:0px; }	

#sitter-experience{ font-size:14px; font-weight:500;}
#menu3 h3{ font-size:13px; line-height:18px;}

p.browse-p{ font-size:14px;}
.browse-p button { margin:0 0 0 10px;}	
.tab-sectioninner label { font-size:12px;}
.pull-right.m-rights > label { padding:0 5px;}

.head-font {font-size:16px; font-weight:600;} 
.head-font2 {font-size:14px;}

.invisi-no { display:none; }

/*Signup*/
.signup-container{ margin:41px 0 15px 0;}
.signup-container h2 {font-size:14px;}
.signup-email, .signup-facebook{ padding:0 15px; }
.signup-email a {margin:15px 0px;}
.signup-facebook a{ padding: 15px; width: 100%; background: #4063b3; margin:15px 0 0 0;}
span.signup-line{ padding:0 0 15px 0;}
.signup-container p { margin:15px 0;}
.signup-container form label { font-size:13px; margin-bottom:10px;}
.signup-container form .form-group{ margin:0 0 10px 0;}
.signup-container #login_user{ margin:15px  auto;}
.signup-container p.line-signin { padding:15px 0 0 0;}

}


